@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('/font/OpenSans-Bold.ttf') format('truetype');
}