$font-main: "Open Sans";

// Font sizes
$font-size-main:            24px;
$font-size-large:           35px;

// Colors 
$color-white:               #ffffff;
$color-transparent:         rgba(0,0,0,0);
$color-silver:              #ececec;
$color-black:               #000000;
$color-seal:                #119da4;
$color-seal-hover:          #7bbabd;
$color-blue:                #119da4;

// Breakpoints
$breakpoint-mobiles:        375px;
$breakpoint-tablets:        780px;