$font-main: "Open Sans";

// Font sizes
$font-size-main:            15px;

// Colors 
$color-white:               #ffffff;
$color-transparent:         rgba(0,0,0,0);
$color-silver:              #ececec;
$color-black:               #000000;

// Breakpoints
$breakpoint-mobiles:        375px;
$breakpoint-tablets:        780px;