@import '../../styles/variables.scss';

.Login {
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: background 0.5s;

    .LoginWindow {
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .Message {
            color: $color-black;
            text-align: center;
        }

        .Dots {
            text-align: center;
            margin-top: 16px;
            height: 24px;

            span {
                display: inline-block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $color-black;
                margin-right: 8px;
            }
        }

        .PinPad {
            margin: 40px auto 0 auto;
        }
    }
}

@media (max-width: $breakpoint-mobiles) {
    .Login {
        height: 80vh;

        .LoginWindow {
            width: 460px;
        }
    }
}