@import '../src/styles/variables.scss';

html {
    margin: 0;
    height: 100%;
    
    body {
      margin: 0;
      width: 100%;
      font-family: $font-main;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-tap-highlight-color: transparent; 
    }
  }
  
  
  * {
    box-sizing: border-box;
  }